# Node modules
node_modules/

# Build output
build/
dist/
out/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/

# Environment variables
.env
.env.local
.env.development
.env.production
.env.development.local
.env.production.local

# Package lock files
package-lock.json
yarn.lock